<mat-toolbar style = "background-color : #F2E8C6; color: #952323;">
  <a mat-button routerLink="home"><img src="assets/images/logoSignML_v2Final.png" style="width: 50px; height: 50px"></a>
  <span><span style="color: darkgreen ">Morrocan</span>SL</span>
  <span class="spacer"></span>
  <div style="display: inline-flex;">
    <a mat-button routerLink="home">home</a>
    <a mat-button routerLink="translation">try translation</a>
    <a mat-button routerLink="about">About us</a>
    <a mat-button routerLink="contact">Contact</a>
  </div>

</mat-toolbar>

